/* layout */

.title {
    height: calc(100lvh - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 38lvw;
    padding: 1rem;
}

.posts {
    width: 50lvw;
    height: calc(80lvh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
}

/* end layout   */

/* title styles (left hand side) */
.hero, .title div, .title p {
    width: 60%;
    height: auto;
}

.title h1 {
    color: #E5E7EB;
    max-width: 6ch;
    overflow-wrap: break-word;
    font-family: Inter, sans-serif;
    font-size: 3.25rem;
    font-weight: 900;
    line-height: 3.125rem;
    letter-spacing: -0.125rem;
    text-align: left;
    margin: 0;
    padding: 0;
}
.title h1 span {
    color: #C4E8EF;
    text-align: left;
    display: block;
    margin-top: 0.3125rem;
}


.title p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    max-width: 36ch;
}

.title p a {
    color: #8DCAEF;
}
/* end title styles */

/* post styles (right hand side) */
.post {
    width: 90%;
    max-width: 80ch;
    max-height: 25lvh;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    background-image: url('../../assets/images/container.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;

    overflow: hidden;
    margin-bottom: 1rem;
}


.post h2 {
    color: #8DCAEF;
    font-family: Fira Sans, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    text-align: left;
}

.date {
    font-family: Inter, sans-serif;
    font-weight: 700;
    text-align: left;
    margin-left: auto;
    font-size: .75rem;
    line-height: .5rem;
    color: lightgrey;
}

.author {
    font-family: Inter, sans-serif;
    font-weight: 700;
    text-align: left;
    margin-left: auto;
    font-size: .75rem;
    color: darkgrey;
}

@media (max-width: 768px) {
    .logo {
        height: 1.5rem;
    }

    main {
        margin-top: 4rem;
        flex-direction: column;
    }

    .title {
        width: 90lvw;
        height: calc(100lvh - 4rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .posts {
        width: 90lvw;
        height: auto;
        padding-bottom: 1rem;
    }

    .post {
        width: 100%;
        max-width: 80ch;
        max-height: 25lvh;
        padding: 2%;
        justify-content: flex-start;
        align-items: flex-start;
    }


}
