/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #93C9E3;
}

a {
    color: #93C9E3;
    text-decoration: none;
}

/* Header Styles */
header {
    background-color: #ffffff;
    color: #f9f9f9;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

header .logo {
    width: 50vh;
}

header .site-info {
    flex-grow: 1; /* To allow h1 to be centered */
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: #ffffff;
    margin: 0;
}


/* Post Container */
.post-container {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

article {
    padding: 20px;
    border-radius: 10px;
}

.post-content {
    padding: 20px 0;
}

.post-section {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.post-section:last-child {
    border-bottom: none;
}

/* Footer Styles */
footer {
    background-color: #ffffff;
    color: #93C9E3;
    padding: 20px;
    text-align: center;
    position: static;
    width: 100%;
    bottom: 0;
    margin-top: 10vh;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}


/* Home Button in Header */
.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #93C9E3;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
}

.home-button:hover {
    background-color: #c496ca;
}

