.home-icon {
    font-size: 1.5rem;
    color: #D8EFF5; /* Adjust color to match your site */
    margin-right: 20px;
    transition: color 0.3s ease;
    margin-left: auto;
}

.home-icon:hover {
    color: #007bff; /* Adjust hover color */
}

.post-content {
    width: 80%;
    max-width: 1200px;
    background: var(--white);
    border-radius: 0.625rem;
    box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-top: 5.25rem;
    text-align: left;
    margin-bottom: 2rem;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.title-container h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 600;
    color: #8DCAEF;
}



.title-container span {
    font-size: 1.25rem;
    font-weight: 600;
    position: relative;
    top: .2rem;
}

.title-container span a {
    color: #8DCAEF;
    text-decoration: underline;
}

.post-date {
    color: lightgray;
    font-size: .25rem;
}


@media (max-width: 790px) {
    .title-container h1 {
        font-size: 2rem;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        max-width: 90lvw;
        line-height: 1.3;
        margin-top: 0;
    }
    .title-container span {
        font-size: .8rem;
        top: 0;
    }
}