* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base-font-size: 16px;
    --blue: #93C9E3;
    --dark_blue: #003366;
    --white: #ffffff;
    font-family: Fira Sans, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 1rem; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    background-color: #8DCAEF;
    width: 100lvw;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}

header a {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    /* width: 100%; */
    height: calc(100% - 1.6rem);
}

/* ------------- end nav ------------- */


body {
    background-color: var(--white);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    .logo {
        height: 1.5rem;
    }

    main {
        margin-top: 4rem;
        flex-direction: column;
    }
}
