


:root{
    --blue: #93C9E3;
    --dark_blue: #003366;
    --white: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


h1 {
    color: #E5E7EB;
    font-family: Inter, sans-serif;
    font-size: 68px; 
    font-weight: 900;
    line-height: 50px; 
    letter-spacing: -2px; 
    text-align: left;
    margin: 0;
    padding: 0;
}


.blog {
    color: #C4E8EF; 
    text-align: left;
    display: block;
    margin-top: 5px;
}



a {
    color: #8DCAEF;
    text-decoration: none;
}

.title{
    width: 20%;
    margin-left: 15%;
    margin-top: 2%;
}

.logo{
    width: 100%;
    height:auto;
}

.date{
    display: flex;
}

.cal{
    height: 100%;
    margin-right: 1vw;
}

header {
    background-color: #8DCAEF; 
    width: 100%; 
    max-width: 100%;
    height: 10vh; 
    min-height: 50px; 
    padding: 10px 0;
}

main {
    padding: 20px;
}

.body{
    display: flex;
}

.posts{
    width: 70%;
}

.post-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-left: -1%;
}

.post-item {
    width: 100%;
}

.post-content {
    background-image: url('../../assets/images/container.png');
    padding: 2%; 
    width: 70%; 
    max-width: 100%; 
    margin: 20px auto; 
    height: auto; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

h2{
    color: #8DCAEF;
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}


p{
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.date {
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #C4E8EF;
    float: right; 
    margin-right: 7vw;
}

.actDate{
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    text-align: right;
    margin-top: -3%; 
}

