/* main body styling */
#main{
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
}

#main .heading {
    width: 100%;
    height: 5rem;
}

#main .heading .container.head {
    float: left;
}

#main .heading .container.head .title {
    margin: 0;
    display: flex;
    align-items: center;
}

#main .heading .container.icons {
    float: right;
}

#main .heading .container.icons > * {
    float: left;
    font-size: var(--big-font-size);
    margin-left: 0.5rem;
    
}
/*=======================*/
