/* main body styling */
#document{
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    color: var(--font-colour);
    justify-content: center;

    .loading {
        z-index: var(--level-3);
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(8px);
    }

    .delete-container {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 500;
        backdrop-filter: blur(8px);

        .form {
            display: flex;
            flex-direction: column;
            background: var(--body-colour);
            padding: 2rem;
            border-radius: 1rem;
            width: max-content;

            .button {
                margin: 1rem;
                line-height: 100%;
            }
        }

        .form > h1 {
            margin-bottom: 2rem;
        }
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .25s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }

    .heading {
        width: 100%;
        height: 5rem;
        display: flex;

        .container.head {
            float: left;

            .title {
                color: var(--font-colour);
                margin: 0;
                display: flex;
                align-items: center;
            }
        }

        .container.icons {
            float: right;
        }

        .container.icons > * {
            float: right;
            cursor: pointer;
            font-size: 2rem;
            margin-left: 0.5rem;
            margin-top: 0.5rem;
        }
    }

    .content {
        margin-bottom: 0;
        flex: 1;
        background-color: var(--content-colour);
        overflow-y: auto;
        border-radius: 0.5rem;
        padding: 1rem;

        .text {
            width: 100%;
            height: max-content;
            word-break: break-word;
            padding: 1rem 0;

            > * {
                color: var(--font-colour);
            }

            blockquote {
                background: var(--body-colour);
            }

            pre {
                background: var(--body-colour);
            }
        }
    }

    .foot .container.tags {
        > * {
            color: var(--font-colour);
            background: var(--content-colour);
        }
    }
}
/*=======================*/
