// styling for the create page

#main {
    .error-message {
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 100;
        top: -5rem;
        display: flex;
        justify-content: center;
        transition: top 0.5s;
    }
    
    .error-message.hide {
        top: -10rem;
    }

    .error-message .notification {
        position: relative;
        max-width: 25rem;
        bottom: -6rem;
    }

    .fields > * {
        width: 100%;
        margin-bottom: 1rem;
    }

    .layout {
        max-height: 100%;
        overflow-y: hidden;
        padding: 0 1rem 1rem;

        .editor {
            display: flex;
            height: 100%;
            overflow-y: auto;
            transition: box-shadow 0.25s;

            .quill-editor {
                display: flex;
                max-width: 100%;
                max-height: 100%;
                flex-direction: column;
                height: 100%;
                width: 100%;
            }
        }

        .editor.invalid {
            box-shadow: 0 0.5em 1em -0.125em rgb(255 0 0 / 10%), 0 0px 0 1px rgb(255 0 0 / 10%);
        }
    }

    .form {
        display: flex;

        .submit .save {
            width: 100%;
        }

        .fields {
            .title_input {
                padding: 0.5em 1em;
            }

            .dropdown {
                width: 100%;
                display: flex;

                .dropdown-trigger {
                    width: 100%;

                    .button {
                        width: 100%;
                        height: max-content;
                        justify-content: initial;

                        .icon {
                            width: 10%;
                            margin-left: auto;
                            justify-content: flex-end;
                        }

                        .icon-arrow {
                            transition: transform 0.25s;
                        }

                        .child-container {
                            width: 90%;
                            height: max-content;
                            display: flex;
                            flex-wrap: wrap;
                            overflow: hidden;

                            .tag {
                                transition: background-color 0.25s;
                                margin: 5px 5px 5px 0;
                                height: 2rem;

                                .icon-close {
                                    margin-left: 5px;
                                }
                            }

                            .tag:hover {
                                background-color: grey;
                            }
                        }
                    }
                }

                .dropdown-menu {
                    width: 100%;

                    .dropdown-content {
                        .dropdown-item .input {
                            border-radius: 10px 0 0 10px;
                        }

                        .dropdown-item.add_element {
                            margin: 1px 0 1px 0;
                            display: flex;

                            .button {
                                border-radius: 0 10px 10px 0;
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dropdown .dropdown-trigger .button .icon-arrow {
    transition: transform 0.25s;
}

.dropdown.is-active .dropdown-trigger .button .icon-arrow {
    transform: rotate(180deg);
}
