// styling for the create edit page

.create_edit {

    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--content-colour);
    border-radius: 0.5rem;
    padding: 0.5rem;

    .error-message {
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 100;
        top: -5rem;
        display: flex;
        justify-content: center;
        transition: top 0.5s;

        .notification {
            position: relative;
            max-width: 25rem;
            bottom: -6rem;
        }
    }

    .error-message.hide {
        top: -10rem;
    }


    .form {
        display: flex;
        justify-content: space-between;
        background: var(--content-colour-alt);

        .submit{
            display: flex;
            align-items: center;
        }

        .fields {

            display: flex;
            margin-bottom: 0.5rem;

            input {
                height: 100%;
                padding: 0 1rem;
            }

            .delimiter {
                display: flex;
                align-items: center;
                color: var(--font-colour);
                height: 100%;
                margin: 0 0.5rem;
                font-weight: bold;
            }

            .title-input {
                padding: 0.5em 1em;
                border: 1px solid transparent;
                color: var(--font-colour);
                font-size: large;
                background: var(--content-colour);
                flex-grow: 1;
                transition: border 0.25s;
            }

            .title-input.invalid {
                border: 1px solid #e35e7f;
                border-radius: 0.5rem;
                transition: border 0.25s;
            }

            .title-input.invalid:focus {
                outline: none;
            }

            .dropdown {
                display: flex;
                flex-direction: column;
                position: relative;
                bottom: 0;
                right: 0;
                width: 33%;

                .trigger {
                    text-align: left;
                    padding: 0.5em 1em;
                    font-size: large;
                    border: 1px solid transparent;
                    transition: border 0.25s;
                }

                .trigger.invalid {
                    border: 1px solid #e35e7f;
                    border-radius: 0.5rem;
                    transition: border 0.25s;
                }

                .trigger.invalid:focus {
                    outline: none;
                }

                .menu {
                    top: 125%;
                }
            }
        }
    }

    .quill-container {
        display: flex;
        height: 100%;
        overflow-y: auto;
        border: 1px solid transparent;
        transition: border 0.25s;

        .quill-editor {
            display: flex;
            max-width: 100%;
            max-height: 100%;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }
    }

    .quill-container.invalid {
        border: 1px solid #e35e7f;
        transition: border 0.25s;
    }

    .dropdown {
        width: max-content;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 2rem;
        right: 2rem;

        .trigger {
            width: 100%;
            padding: 0.5em 1em;
            font-size: medium;
            color: var(--font-colour);
            text-align: right;
            border: 1px var(--content-colour);
            background: var(--content-colour);
        }

        .tag-input {
            width: 15rem;
            min-height: 2rem;
            cursor: pointer;
            border-radius: 0.5rem;
            border: 1px solid var(--font-colour);
            transition: border 0.25s;

            button {
                background: var(--body-colour);
                border: none;
                color: var(--font-colour);
                padding: 0.5rem;
                margin: 0.25rem;
                border-radius: 0.5rem;
            }

            button:hover {
                background: var(--content-colour);
                cursor: pointer;
            }
        }

        .tag-input.invalid {
            border: 1px solid #e35e7f;
            transition: border 0.25s;
        }

        .menu {
            width: 100%;
            z-index: var(--level-2);
            opacity: 1;
            position: absolute;
            bottom: 125%;
            transition: opacity .25s ease-in-out;

            .dropdown-content {
                display: block;
                height: auto;
                border: 1px solid var(--font-colour);
                background: var(--content-colour);
                max-height: 10rem;
                max-width: 100%;
                overflow-y: auto;

                .dropdown-item {
                    color: var(--font-colour);
                    background: var(--content-colour);
                    border: none;
                    cursor: pointer;
                    display: flex;

                }

                .dropdown-item.input-box {

                    .text {
                        background: var(--content-colour);
                        border: 1px solid var(--font-colour);
                        border-top-left-radius: 0.5rem;
                        border-bottom-left-radius: 0.5rem;
                        padding: 0 0.5rem;
                        color: var(--font-colour);
                        width: 75%;
                    }
                    .button {
                        background: var(--content-colour);
                        border: 1px solid var(--font-colour);
                        border-radius: 0 0.5rem 0.5rem 0;
                        color: var(--font-colour);
                    }

                    .button:hover {
                        background: var(--body-colour);
                    }
                }

                .dropdown-item:hover {
                    background: var(--body-colour);
                }

                .dropdown-item.input-box:hover {
                    background: var(--content-colour);
                    cursor: default;
                }
            }
        }

        .menu.hide {
            opacity: 0;
            border: none;
            transition: opacity .25s ease-in-out;

            .dropdown-content {
                display: none;
            }
        }
    }
}
