// styling for the create edit page

 .create_edit {

     height: 100%;
     z-index: var(--level-3);
     display: flex;
     flex-direction: column;
     background: var(--content-colour);
     border-radius: 0.5rem;
     padding: 0.5rem;

    .error-message {
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 100;
        top: -5rem;
        display: flex;
        justify-content: center;
        transition: top 0.5s;

        .notification {
            position: relative;
            max-width: 25rem;
            bottom: -6rem;
        }
    }
    
    .error-message.hide {
        top: -10rem;
    }


     .form {
         display: flex;
         justify-content: space-between;
         background: var(--content-colour-alt);

         .submit{
             display: flex;
             align-items: center;
         }

         .fields {

             display: flex;
             flex-direction: column;

             > * {
                 margin-bottom: 0.5rem;
             }

             input {
                 padding: 0 1rem;
             }

             .title-input {
                 padding: 0.5em 1em;
                 width: max-content;
                 color: var(--font-colour);
                 max-width: 100%;
                 font-size: large;
                 background: var(--content-colour);
                 border: 1px var(--content-colour);
             }

             .dropdown {
                 width: max-content;
                 display: flex;
                 flex-direction: column;

                 .trigger {
                     width: 100%;
                     padding: 0.5em 1em;
                     font-size: medium;
                     color: var(--font-colour);
                     border: 1px var(--content-colour);
                     background: var(--content-colour);
                 }

                 .menu {
                     width: 100%;
                     z-index: var(--level-3);
                     opacity: 1;
                     position: absolute;
                     top: 125%;
                     transition: opacity .25s ease-in-out;
                     height: auto;
                     border: 1px solid var(--font-colour);

                     .dropdown-content {
                         display: block;
                         background: var(--content-colour);

                         .dropdown-item {
                             color: var(--font-colour);
                             background: var(--content-colour);
                             border: none;
                             cursor: pointer;
                         }

                         .dropdown-item:hover {
                             background: var(--body-colour);
                         }
                     }
                 }

                 .menu.hide {
                     opacity: 0;
                     border: none;
                     transition: opacity .25s ease-in-out;

                     .dropdown-content {
                         display: none;
                     }
                 }
             }
         }
     }

     .quill-editor {
         display: flex;
         max-width: 100%;
         max-height: 100%;
         flex-direction: column;
         height: 100%;
         width: 100%;
     }

     .dropdown {
         width: max-content;
         display: flex;
         flex-direction: column;

         .trigger {
             width: 100%;
             padding: 0.5em 1em;
             font-size: medium;
             color: var(--font-colour);
             border: 1px var(--content-colour);
             background: var(--content-colour);
         }

         .menu {
             width: 100%;
             z-index: var(--level-3);
             opacity: 1;
             position: absolute;
             bottom: 125%;
             transition: opacity .25s ease-in-out;
             height: auto;
             border: 1px solid var(--font-colour);

             .dropdown-content {
                 display: block;
                 background: var(--content-colour);

                 .dropdown-item {
                     color: var(--font-colour);
                     background: var(--content-colour);
                     border: none;
                     cursor: pointer;
                 }

                 .dropdown-item:hover {
                     background: var(--body-colour);
                 }
             }
         }

         .menu.hide {
             opacity: 0;
             border: none;
             transition: opacity .25s ease-in-out;

             .dropdown-content {
                 display: none;
             }
         }
     }
 }

.dropdown .dropdown-trigger .button .icon-arrow {
    transition: transform 0.25s;
}

.dropdown.is-active .dropdown-trigger .button .icon-arrow {
    transform: rotate(180deg);
}
