/* sidebar styling */
#sidebar{
    position: absolute;
    float: left;
    width: 300px;
    height: 100%;
    background-color: var(--side-bar-colour);
    z-index: var(--level-3);
    transition: left 0.5s, margin-right 0.5s;
}

/* for responisveness */
@media screen and (min-width: 900px) {
    .body.open {
        margin-left: 300px;
    }
}

#sidebar.open {
    left: 0;
}

#sidebar.closed {
    left: -300px;
}

#sidebar .collapse_toggle {
    height: 3rem;
    width: 1.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: var(--side-bar-colour);
    cursor: pointer;
    top: 1rem;
    right: -1.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

#sidebar .collapse_toggle::after {
    content: '';
    cursor: initial;
    position: absolute;
    top: -1.5rem;
    right: 0.5rem;
    width: 1rem;
    height: 1.5rem;
    border-radius: 0 0 0 1rem;
    box-shadow: -5px 0 0 5px var(--side-bar-colour);
}

#sidebar .collapse_toggle::before {
    content: '';
    cursor: initial;
    position: absolute;
    bottom: -1.5rem;
    right: 0.5rem;
    width: 1rem;
    height: 1.5rem;
    border-radius: 1rem 0 0 0;
    box-shadow: -5px -5px 0 5px var(--side-bar-colour);
}

#sidebar .collapse_toggle .icon {
    transition: transform 0.5s;
}

#sidebar.closed .collapse_toggle .icon {
    transform: rotate(180deg);
}

#sidebar .user .user_image {
    vertical-align: middle;
    width: 2.75rem;
    border-radius: 5px;
    margin-right: 1rem;
}

#sidebar .user .user_description {
    display: inline-block;
    vertical-align: middle;
}

#sidebar .user .user_description .title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

#sidebar .user .user_description .subtitle {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--body-alt-colour);
}

#sidebar .handle {
    outline: none;
    border: none;
    background-color: inherit;
    text-align: start;
    width: 100%;
    color: var(--font-colour);
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    transition: margin-left .25s;
    margin-bottom: 0.5rem;
}

#sidebar .handle > * {
    vertical-align: middle;
    margin-bottom: 5px;
}

#sidebar .handle .icon {
    line-height: var(--big-font-size);
}

#sidebar .handle:hover {
    margin-left: 2.5px;
}

#sidebar .handles .subtitle {
    font-size: var(--small-font-size);
}

#sidebar .handles .topic .handle .drop_down.icon {
    float: right;
    margin-right: 1.5rem;
    transition: transform 0.2s;
}

#sidebar .handles .topic .handle.active .drop_down.icon {
    transform: rotate(180deg);
    margin-bottom: none;
}

#sidebar .handles .topic .children{
    max-height: 0;
    overflow: hidden;
    margin: 0 0 1rem 1rem;
    transition: max-height 0.2s ease-out;
}

#sidebar .add_record {
    position: absolute;
    z-index: var(--level-1);
    bottom: 1.5rem;
    right: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1rem;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    transition: background-color 0.5s, border 0.5s, transform 0.5s;
}

#sidebar .add_record:hover {
    background-color: var(--body-colour);
    transform: scale(1.1);
}
/*=======================*/
