/* sidebar styling */
#sidebar {
    position: absolute;
    float: left;
    width: 300px;
    height: 100%;
    background-color: var(--side-bar-colour);
    z-index: var(--level-3);
    transition: left 0.5s, margin-right 0.5s;

    .collapse_toggle {
        height: 3rem;
        width: 1.5rem;
        position: absolute;
        display: flex;
        align-items: center;
        background-color: var(--side-bar-colour);
        cursor: pointer;
        top: 1rem;
        right: -1.5rem;
        border-radius: 0 0.5rem 0.5rem 0;
    }

    .collapse_toggle::after {
        content: "";
        cursor: initial;
        position: absolute;
        top: -1.5rem;
        right: 0.5rem;
        width: 1rem;
        height: 1.5rem;
        border-radius: 0 0 0 1rem;
        box-shadow: -5px 0 0 5px var(--side-bar-colour);
    }

    .collapse_toggle::before {
        content: "";
        cursor: initial;
        position: absolute;
        bottom: -1.5rem;
        right: 0.5rem;
        width: 1rem;
        height: 1.5rem;
        border-radius: 1rem 0 0 0;
        box-shadow: -5px -5px 0 5px var(--side-bar-colour);
    }

    .collapse_toggle .icon {
        transition: transform 0.5s;
    }

    .user .user_image {
        vertical-align: middle;
        width: 2.75rem;
        border-radius: 5px;
        margin-right: 1rem;
    }

    .user .user_description {
        display: inline-block;
        vertical-align: middle;
    }

    .user .user_description .title {
        font-size: var(--normal-font-size);
        font-weight: var(--font-semi-bold);
    }

    .user .user_description .subtitle {
        font-size: var(--small-font-size);
        font-weight: var(--font-medium);
        color: var(--body-alt-colour);
    }

    .handle {
        outline: none;
        display: block;
        border: none;
        background-color: inherit;
        text-align: start;
        width: 100%;
        color: var(--font-colour);
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
        cursor: pointer;
        margin-bottom: 0.5rem;
        padding: 0.25rem;
        transition: background-color 0.25s, margin-left 0.25s;
        border-radius: 0.25rem;
    }

    .handle.router-link-exact-active {
        background-color: var(--body-colour);
        transition: background-color 0.25s;
    }


    .handle > * {
        vertical-align: middle;
        margin-bottom: 5px;
    }

    .handle .icon {
        line-height: var(--big-font-size);
    }

    .handle:hover {
        margin-left: 2.5px;
    }

    .handles .subtitle {
        font-size: var(--small-font-size);
    }

    .handles .topic .handle .drop_down.icon {
        float: right;
        margin-right: 1.5rem;
        transition: transform 0.2s;
    }

    .handles .topic .handle.active .drop_down.icon {
        transform: rotate(180deg);
        margin-bottom: none;
    }

    .handles .topic .children {
        max-height: 0;
        overflow: hidden;
        margin: 0 0 1rem 1rem;
        transition: max-height 0.2s ease-out;
    }

    .add_record {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: var(--level-1);
        border: none;
        bottom: 1.5rem;
        right: 1.5rem;
        width: 2rem;
        height: 2rem;
        transition: transform 0.25s;

        .icon {
            color: var(--body-alt-colour);
            height: 100%;
            width: 100%;
        }
    }

    .add_record:hover {
        transform: scale(1.1);
    }

    .logout {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: var(--level-1);
        border: none;
        cursor: pointer;
        bottom: 1.5rem;
        left: 1.5rem;
        width: 2rem;
        height: 2rem;
        transition: transform 0.25s;

        .icon {
            color: var(--body-alt-colour);
            width: 100%;
            height: 100%;
        }
    }

    .logout:hover {
        transform: scale(1.1);
    }
    /*=======================*/
}

#sidebar.open {
    left: 0;
}

#sidebar.closed {
    left: -300px;

    .collapse_toggle .icon {
        transform: rotate(180deg);
    }
}
