/* Fonts provided by google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
/* ======================== */

/* define the root styling */
:root {
    /*define the deader-height*/
    --header-height: 3rem;
    /*=======================*/

    /*define the fonts*/
    --body-font: 'Open Sans', sans-serif;
    /*=======================*/

    /*font sizes*/
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*=======================*/

    /*font weights*/
    --font-light: 300;
    --font-medium: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    /*=======================*/

    /* Colours */
    --body-colour: #f8f9fa;
    --font-colour: #212529;
    --body-alt-colour: #545b5e;
    --content-colour: #f5f7f8;
    --side-bar-colour: #e9ecef;
    /*=======================*/

    /* z indexs */
    --level-0: 0;
    --level-1: 100;
    --level-2: 500;
    --level-3: 1000;
    /*=======================*/
}

/*font for larger screens */
@media screen and (min-width: 968px){
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;

    }
}
/*=======================*/

/*base styles for elements*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*=======================*/

/* default base styling */
html {
    scroll-behavior: smooth;
    background-color: var(--body-colour);
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

h1,h2,h3,h4{
    font-weight: var(--font-semi-bold);
}

img{
    max-width: 100%;
    height: auto;
}
/*=======================*/

/* general styling  */
#app {
    height: 100vh;
    width: 100vw;
}

.body {
    margin-left: 0;
    transition: margin-left 0.5s;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 0;
}

.container .child {
    width: 100%;
    margin-bottom: 2rem;
}

/* for responisveness */
@media screen and (min-width: 900px) {
    .body.open {
        margin-left: 300px;
    }
}
<<<<<<< HEAD
=======

#sidebar.open {
    left: 0;
}

#sidebar.closed {
    left: -300px;
}

#sidebar .collapse_toggle {
    height: 3rem;
    width: 1.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: var(--side-bar-colour);
    cursor: pointer;
    top: 1rem;
    right: -1.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

#sidebar .collapse_toggle::after {
    content: '';
    cursor: initial;
    position: absolute;
    top: -1.5rem;
    right: 0.5rem;
    width: 1rem;
    height: 1.5rem;
    border-radius: 0 0 0 1rem;
    box-shadow: -5px 0 0 5px var(--side-bar-colour);
}

#sidebar .collapse_toggle::before {
    content: '';
    cursor: initial;
    position: absolute;
    bottom: -1.5rem;
    right: 0.5rem;
    width: 1rem;
    height: 1.5rem;
    border-radius: 1rem 0 0 0;
    box-shadow: -5px -5px 0 5px var(--side-bar-colour);
}

#sidebar .collapse_toggle .icon {
    transition: transform 0.5s;
}

#sidebar.closed .collapse_toggle .icon {
    transform: rotate(180deg);
}

#sidebar .user .user_image {
    vertical-align: middle;
    width: 2.75rem;
    border-radius: 5px;
    margin-right: 1rem;
}

#sidebar .user .user_description {
    display: inline-block;
    vertical-align: middle;
}

#sidebar .user .user_description .title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

#sidebar .user .user_description .subtitle {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--body-alt-colour);
}

#sidebar .handle {
    outline: none;
    border: none;
    background-color: inherit;
    text-align: start;
    width: 100%;
    color: var(--font-colour);
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    transition: margin-left .25s;
    margin-bottom: 0.5rem;
}

#sidebar .handle > * {
    vertical-align: middle;
    margin-bottom: 5px;
}

#sidebar .handle .icon {
    line-height: var(--big-font-size);
}

#sidebar .handle:hover {
    margin-left: 2.5px;
}

#sidebar .handles .subtitle {
    font-size: var(--small-font-size);
}

#sidebar .handles .topic .handle .drop_down.icon {
    float: right;
    margin-right: 1.5rem;
    transition: transform 0.2s;
}

#sidebar .handles .topic .handle.active .drop_down.icon {
    transform: rotate(180deg);
    margin-bottom: none;
}

#sidebar .handles .topic .children{
    max-height: 0;
    overflow: hidden;
    margin: 0 0 1rem 1rem;
    transition: max-height 0.2s ease-out;
}

#sidebar .add_record {
    position: absolute;
    z-index: var(--level-1);
    bottom: 1.5rem;
    right: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1rem;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    transition: background-color 0.5s, border 0.5s, transform 0.5s;
}

#sidebar .add_record:hover {
    background-color: var(--body-colour);
    transform: scale(1.1);
}
/*=======================*/

/* main body styling */
#main{
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
}

#main .layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#main .heading {
    width: 100%;
    height: 5rem;
}

#main .heading .container.head {
    float: left;
}

#main .heading .container.head .title {
    margin: 0;
    display: flex;
    align-items: center;
}

#main .heading .container.icons {
    float: right;
}

#main .heading .container.icons > * {
    float: left;
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

#main .content {
    margin-bottom: 0;
    flex: 1;
}

#main .content .text {
    width: 100%;
    height: 100%;
    background-color: var(--content-colour);
    border-radius: 0.5rem;
    overflow-y: auto;
    padding: 1rem;
}

#main .foot .container.tags {
    float: right;
}

/*=======================*/
>>>>>>> 220af43 (added state for content view  to vuex data store and displayed it on home page)
