/* Fonts provided by google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
/* ======================== */

/* define the root styling */
:root {
    /*define the deader-height*/
    --header-height: 3rem;
    /*=======================*/

    /*define the fonts*/
    --body-font: 'Open Sans', sans-serif;
    /*=======================*/

    /*font sizes*/
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*=======================*/

    /*font weights*/
    --font-light: 300;
    --font-medium: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    /*=======================*/

    /* Colours */
    --body-colour: #222222;
    --font-colour: lightgray;
    --body-alt-colour: #111111;
    --content-colour: #3F3F3F;
    --side-bar-colour: #333333;
    --company-colour: #aaf7f3;
    --scroll-colour: #6b6868;
    /*=======================*/

    /* z indexs */
    --level-0: 0;
    --level-1: 100;
    --level-2: 500;
    --level-3: 1000;
    /*=======================*/
}

/*font for larger screens */
@media screen and (min-width: 968px){
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;

    }
}
/*=======================*/

/*base styles for elements*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*=======================*/

/* default base styling */
html {
    scroll-behavior: smooth;
    overflow-y: auto !important;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-colour);
}

h1,h2,h3,h4{
    font-weight: var(--font-semi-bold);
}

img{
    max-width: 100%;
    height: auto;
}
/*=======================*/

/* general styling  */
#app {
    height: 100vh;
    width: 100vw;
}

.body {
    margin-left: 0;
    transition: margin-left 0.5s;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#app .body .title {
    line-height: inherit;
}

#app .container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 0;
}

.container .child {
    width: 100%;
    margin-bottom: 2rem;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    padding: 1rem 2rem;
}
/*=======================*/

/*configure custom scroll bars*/

::-webkit-scrollbar {
    width: .75rem;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-block: .5rem;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-colour);
    border: 2px solid var(--content-colour);
    border-radius: 100vw;
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: var(--content-colour) var(--body-colour);
        scrollbar-width: thin;
    }
}

/*=======================*/

/* for responisveness */
@media screen and (min-width: 900px) {
    .body.open {
        margin-left: 300px;
    }
}
