// styling for the edit page

.edit-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--content-colour);
    border-radius: 0.5rem;

    .error-message {
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 100;
        top: -5rem;
        display: flex;
        justify-content: center;
        transition: top 0.5s;

        .notification {
            position: relative;
            max-width: 25rem;
            bottom: -6rem;
        }
    }

    .error-message.hide {
        top: -10rem;
    }


    .menu {
        z-index: var(--level-2);
        opacity: 1;
        position: absolute;
        transition: opacity .25s ease-in-out;

        .dropdown-content {
            display: block;
            border: 1px solid var(--deep-purple);
            background: var(--content-colour);
            max-height: 10rem;
            max-width: 100%;
            overflow-y: auto;

            .dropdown-item {
                color: var(--font-colour);
                background: var(--content-colour);
                border: none;
                cursor: pointer;
                display: flex;
            }

            .dropdown-item.input-box {
                .text {
                    background: var(--content-colour);
                    border: 1px solid var(--deep-purple);
                    border-top-left-radius: 0.5rem;
                    border-bottom-left-radius: 0.5rem;
                    padding: 0 0.5rem;
                    color: var(--font-colour);
                    width: 100%;
                }

                .button {
                    background: var(--content-colour);
                    border: 1px solid var(--deep-purple);
                    border-radius: 0 0.5rem 0.5rem 0;
                    color: var(--font-colour);

                    &:focus {
                        outline: none;
                    }
                }

                .button:hover {
                    background: var(--body-colour);
                }
            }

            .dropdown-item:hover {
                background: var(--body-colour);
            }

            .dropdown-item.input-box:hover {
                background: var(--content-colour);
                cursor: default;
            }
        }
    }

    .menu.hide {
        opacity: 0;
        border: none;
        transition: opacity .25s ease-in-out;

        .dropdown-content {
            display: none;
        }
    }

    .title-topic-form {
        input {
            width: 100%;
            color: var(--font-colour);

        }

        .topic-container {
            background: var(--deep-purple);
            display: flex;
            justify-content: space-between;
            padding: 0 48px;

            .topic-input {
                height: 25px;
                font-size: var(--normal-font-size);
                background: transparent;
                border: none;
                outline: none;

                &:focus {
                    outline: none
                }

                &.invalid {
                    border: 1px solid #e35e7f;
                    transition: border 0.25s;
                    &:focus {
                        outline: none
                    }
                }
            }
            .capture {
                position: relative;
                width: 100px;
                cursor: default;
                display: flex;
                justify-content: center;

                .fade-enter-active, .fade-leave-active {
                    transition: opacity .3s ease;
                }
                .fade-enter, .fade-leave-to {
                    opacity: 0;
                }

                p {
                    text-align: center;
                    color: var(--font-colour);
                }

                .saving {
                    margin-top: 0.3rem;
                }

                & > * {
                    height: 1rem;
                    position: absolute;
                }
            }
        }

        .menu {
            margin-left: 40px;
            margin-top: 10px;
        }

        .row {
            display: flex;
            justify-content: space-between;
            padding: 0 50px;

            .title-input {
                height: 100px;
                border: none;
                font-size: calc(var(--h1-font-size) * 1.2);
                font-weight: 600;
                line-height: 1.125;
                background: var(--content-colour);
                flex-grow: 1;
                transition: border 0.25s;

                &:focus {
                    outline: none;
                    border: none;
                }
            }

            .title-input.invalid {
                border: 1px solid #e35e7f;
                border-radius: 0.5rem;
                transition: border 0.25s;
            }

            .title-input.invalid:focus {
                outline: none;
            }

            .submit-container {
                display: flex;
                flex-direction: column;
                justify-content: center;

                button {
                    background-color: var(--deep-purple);
                    color: var(--font-colour);
                    font-weight: bold;
                    border: none;
                }
            }
        }



        .dropdown {
            display: flex;
            flex-direction: column;
            position: relative;
            bottom: 0;
            right: 0;
            width: 33%;
            height: 20px;

            .trigger {
                text-align: left;
                padding: 0.5em 1em;
                font-size: large;
                border: none;
                transition: border 0.25s;
                width: 100%;
            }


            .trigger.invalid {
                border: 1px solid #e35e7f;
                border-radius: 0.5rem;
                transition: border 0.25s;
            }

            .trigger.invalid:focus {
                outline: none;
            }

        }
    }

    .quill-container {
        display: flex;
        height: 100%;
        margin-bottom: 100px;
        overflow-y: auto;
        border: none;
        transition: border 0.25s;

        .quill-editor {
            display: flex;
            max-width: 100%;
            max-height: 100%;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }
    }

    .quill-container.invalid {
        border: 1px solid #e35e7f;
        transition: border 0.25s;
    }

    .tags {
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        bottom: 2rem;
        right: 1vw;

        .tag-input {
            cursor: pointer;
            border-radius: 0.5rem;
            border: 1px solid var(--deep-purple);
            background: var(--content-colour);
            transition: border 0.25s;

            button, p {
                background: var(--body-colour);
                border: none;
                color: var(--font-colour);
                padding: 0.5rem;
                margin: 0.25rem;
                border-radius: 0.5rem;
                font-size: var(--small-font-size);

                &::before {
                    content: '#';
                }

                .delete-container {
                    margin-left: 5px;
                    .delete {
                        margin: 2px 0;
                        width: 15px;
                        height: 15px;
                        max-height: 15px;
                        min-height: 15px;
                    }
                }
            }

            button:hover {
                background: var(--content-colour);
                cursor: pointer;
            }
        }

        .tag-input.invalid {
            border: 1px solid #e35e7f;
            transition: border 0.25s;
        }

        .menu {
            bottom: 125%;
            right: 0;
        }
    }
}
