@use './document-contents' as m;

.create-edit-container {
  .editor {
    background: var(--content-colour);
  }

  .ql-toolbar {
    border: 1px solid var(--body-colour);

    .ql-stroke {
      fill: none;
      stroke: var(--font-colour);
    }

    .ql-fill {
      fill: var(--font-colour);
      stroke: none;
    }

    .ql-picker {
      color: var(--font-colour);
    }

    .ql-picker-options {
      background: var(--content-colour);
    }
  }

  .ql-container {
    height: 100%;
    max-height: 100%;
    border: 1px solid var(--body-colour);
    overflow-y: auto;

    .ql-editor {
      @include m.content-styles;
    }
  }
}

