@use './document-contents' as m;

.edit-container {
  .editor {
    background: var(--content-colour);
  }

  .ql-toolbar {
    position: relative;
    border: none;
    top: 0;
    left: 30px;
    width: calc(100% - 30px);
    transition: left .5s;

    .ql-stroke {
      fill: none;
      stroke: var(--font-colour);
    }

    .ql-fill {
      fill: var(--font-colour);
      stroke: none;
    }

    .ql-picker {
      color: var(--font-colour);
    }

    .ql-picker-options {
      background: var(--content-colour);
    }
  }

  .ql-container {
    height: 100%;
    max-height: 100%;
    border: none;
    overflow-y: auto;

    .ql-editor {
      @include m.content-styles;
      padding: 1.5px 50px;

      &::before {
        padding: 0 35px;
        color: var(--font-colour);
      }
    }
  }
}

