<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Intelligence Blog</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/homepage-style.css">
</head>
<body>
    <header>
        <a href="https://cloudintelligence.co.za"><img src="/assets/images/logo.svg" alt="Logo" class="logo"></a>
    </header>

    <main>
        <div class="title">
            <img src="/assets/images/CIGif.gif" alt="Logo" class="hero">
            <div>
                <h1>cloud intel.<span>Blog</span></h1>
            </div>
            <p>
                News and announcements for all things <a href="https://cloudintelligence.co.za"> CloudIntelligence</a>.
            </p>
        </div>

        <div class="posts">
            {% for post in site.posts %}
            <a href="{{ post.url }}" class="post">
                <h2>
                    {{ post.title }}          
                    <aside class="author">{{ post.author }} - <small class="date"> {{ post.date | date: "%B %-d, %Y" }}</small></aside>
                </h2>
                <p>{{ post.excerpt | truncate: 180 }}</p>
            </a>
            {% endfor %}
        </div>
    </main>
</body>
</html>
